<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
  // const socket = io.connect('https://dinosaur.azurewebsites.net');
  const socket = io.connect('http://localhost:8080');
  socket.on('news', function (data) {
    socket.emit('my other event', { my: 'data' });
  });
</script>
